# Ignore .pyc files
*.pyc

# Ignore cython-produced files
*.pyd
*.so
*.o
*.c

# Ignore profiling reports
*.profile

*.un~

# Bladed copies of .prj files (slightly XML)
*.prx

/mbwind.egg-info/
/cover/
/htmlcov/
/.coverage
/build/
.ipynb_checkpoints

.doit.db
.noseids